@import '../../style.scss';

@mixin kit-input-textfield__default() {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.3rem 0.2rem;

  input {
    border: none;
    width: 100%;
    margin-top: 0.2rem;
  }

  &.__error {
    border-bottom: 1px $color-second solid;

    .kit-input-textfield__label {
      color: $color-second;
    }
  }
}

.kit-input-textfield {
  @include kit-input-textfield__default();
  border-bottom: 1px $color-main solid;

  .kit-input-textfield__label {
    font-weight: bold;
    color: $color-main-dark;
  }
}

.kit-input-textfield__error {
  font-size: 10px;
  color: $color-second;
}