/* responsiveness */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 996px;
$breakpoint-xl: 1200px;
$breakpoint-infinite: 10000px;

@mixin breakpoint($min, $max) {
    @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin mobileBreakpoint {
    @include breakpoint($breakpoint-xs, $breakpoint-sm) {
        @content;
    }
    min-width: 216px;
}

@mixin tabletBreakpoint {
    @include breakpoint($breakpoint-sm, $breakpoint-lg) {
        @content;
    }
}

@mixin desktopBreakpoint {
    @include breakpoint($breakpoint-lg, $breakpoint-infinite) {
        @content;
    }
}