@import './responsiveness.scss';

$white: #ffffff;
$gray: #a92626;
$color-main:#542574e0;
$color-main-dark:#9160af;
$color-main-light: #cfbbdc;
$color-second: #eb4f4fec;
$color-third: #f6f870;
$color-fourth: #0caa4e;
$color-border: #9fa3a344;
$color-border-light: #9fa3a312;
$color-logout: #b51c1c;

$padding-card: 1.5rem;

$border-radius: 0.8rem;

@mixin border-card {
  border: 1px $color-border solid;
  padding: $padding-card;
  border-radius: $border-radius;
}